body {
    background-color: $primary-white;
    color: $main-text-color;
    font-family: roboto, sans-serif;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}
